* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./assets/Jaranimo-Logo.png);
  background-size: auto;
  display: grid;
  grid-template-columns: repeat(2);
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span 2;
  height: 60px;
  position: relative;
  padding: 30px;
  color: white;
  border-bottom: 3px solid purple;
  background-color: rgb(218, 203, 218);
  background-image: url("./assets/8.jpeg");
  background-size: auto;
  font-family: monospace;
  font-size: 39px;
  opacity: 0.9;
}



.collection {
  padding: 15px;
  width: 100%;
  border: 3px solid black;
  border-radius: 45px;
  background-color: white;
  grid-column: 1;
  position: relative;
  left: 130px;
  top: 80px;
  
}

.shirt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
}

img {
  width: 200px;
  height: 200px;
  aspect-ratio: 3/2;
}

h2 {
  font-family: monospace;
  font-size: 40px;
  text-align: center;
  color: white;
  position: relative;
  height: -90px;
  border-bottom: 2px solid white;
  left: -1px;
  top: -30px;
}

.updates {
  /* display:grid; */
  /* grid-column: 2;
    grid-row:2; */
  width: 50%;
  position: relative;
  left: 300px;
  top: 80px;
}

.formUpdate {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2;
  position: relative;
  top: 20px;
  padding: 300px;
  border: 3px solid black;
  /* background-color: rgb(235, 233, 214); */
  background-image: url("./assets/10.jpeg");
  background-size: cover;
  border-radius: 45px;
  /* width:11px */
}

label {
  text-align: center;
}

#removeButton {
  color: white;
  background-color: red;
  /* border-radius: 20px; */
  height: 30px;
  width: 70px;
  border-radius: 45px;
}

.shirt p {
  padding: 6px;
}

.shirt {
  padding: 7px;
  border-bottom: 2px solid black;
  border-color: purple;
}

#submitButton {
  font-size: xx-large;
  margin: 9px;
  color: green;
  background-color: white;
  border-radius: 67px;
  padding: 4px;
}

#resetButton {
  font-size: x-large;
  margin: 9px;
  color: red;
  background-color: white;
  border-radius: 67px;
  padding: 5px;
}

#in-stock {
  background-color: green;
  color: white;
  margin: 20px;
  height: 30px;
  border-radius: 19px;
  width: 100px;
  border-color: white;
}

.formUpdate #in-stock {
  margin: 20px;
  height: 30px;
  border-radius: 19px;
  width: 100px;
  border-color: white;
}

.formUpdate label {
  color: floralwhite;
  font-size: 22px;
  font-family: monospace;
}
.errorMessage{
  border: 2px solid black;
  background-color: white;
  color: purple;
  width:300px;
  border-radius: 25px;
  padding:30px;
  text-align: center;
  
  

}
.footer{
  display:grid;
  grid-column: 1/ span 2;
  position:static
}

footer{
  display:flex;
  
  flex-direction: row;
  background-image: url("./assets/8.jpeg");
  background-size: auto;
  justify-content: safe;
  height:100px;
  display: grid;
  /* grid-column: 1/ span 5 */
}

small{
  display:flex;
  justify-content: flex-start;
  color:white;
  align-items: center;
}

footer p{
  display:flex;
  justify-content: flex-end;
  color: white;
  display:grid;
  grid-column: 3;
  font-size: 20px;
  align-items: center;


}

/* 
@media (min-width: 768px) {
  body{
      border: 10px solid peru;
     
  }
  .shirt img{
      display:grid;
      position: sticky;
      left:2%;
      justify-content: center;
      aspect-ratio: 3/2;
      border:2px solid black;
  }
  .collection{
      width: 150px
  }
  .updates{
      position: relative;
      border:none;
      left:5%
  }
}

@media (min-width: 992px) {
  body{
      border: 9px solid black;
      
  }
  .shirt img{
      display:grid;
      position: relative;
      left:30%;
      aspect-ratio: 3/2;
      border:2px solid black;
}
.updates{
  
  border-radius: 40px;
}
.collection{
  width:300px
}
}

@media (min-width: 1200px) {
  body{
      border: 9px solid teal;
      position:relative
  }
  .shirt img{
      display:grid;
      position: relative;
      left:30%;
      aspect-ratio: 3/2;
      border:2px solid black;
      
  }
  .updates{
     
      left:40px
        
  }
  .logo{
      left:-20px
  }
  .collection{
      width: 300px
  }
} */


 */















/* .logo{
  grid-column: 3;
  grid-row:2;
  position:relative;
  left: 40px;
  top:100px
}
 .collection img{
   display: grid;
   grid-column: 1/span 2;
    width:100px;
    height:150px;

    }

.shirt img{
    display:grid;
    position: relative;
    left:40%;
    aspect-ratio: 3/2;
    border:2px solid black;
    
}

body{
    background-color: rgb(235, 233, 214);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 120px 1fr 1fr 1fr 1fr;
}

h1{
    text-align: center;
    color:rgb(115, 5, 5);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    background-color: cornflowerblue;
    grid-row:1;
    grid-column: 1 / span 5;
    border:11px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.collection{
   
    grid-column: 1 / span 2;
    grid-row: 2;
    text-align: center;
    padding:15px;
    border: 7px solid black;
    background-color: aliceblue;
    margin:30px
    
    
}

.collection p {
    text-align: center;
}

.updates{
 
    left:40%;
    padding: 90px;
    height: 50%;
    top: 30px 
}


button{
    color:cornflowerblue;
    background-color: black;
}


@media (min-width: 768px) {
    body{
        border: 10px solid peru;
       
    }
    .shirt img{
        display:grid;
        position: sticky;
        left:2%;
        justify-content: center;
        aspect-ratio: 3/2;
        border:2px solid black;
    }
    .collection{
        width: 150px
    }
    .updates{
        position: relative;
        border:none;
        left:5%
    }
  }
  
  @media (min-width: 992px) {
    body{
        border: 9px solid black;
        
    }
    .shirt img{
        display:grid;
        position: relative;
        left:30%;
        aspect-ratio: 3/2;
        border:2px solid black;
  }
  .updates{
    
    border-radius: 40px;
  }
  .collection{
    width:300px
  }
}
  
  @media (min-width: 1200px) {
    body{
        border: 9px solid teal;
        position:relative
    }
    .shirt img{
        display:grid;
        position: relative;
        left:30%;
        aspect-ratio: 3/2;
        border:2px solid black;
        
    }
    .updates{
       
        left:40px
          
    }
    .logo{
        left:-20px
    }
    .collection{
        width: 300px
    }
  } */
