*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0
}
.logo{
  grid-column: 3;
  grid-row:2;
  position:relative;
}
 .collection img{
   display: grid;
   grid-column: 1/span 2;
    width:100px;
    height:150px;
    ;
    
    /* aspect-ratio: 3/2;
    object-fit: contain; */
    }

.shirt img{
    display:grid;
    position: relative;
    left:40%;
    /* justify-content: center; */
    aspect-ratio: 3/2;
    border:2px solid black;
    
}
/* .shirt p{
    padding:10px
} */
body{
    background-color: rgb(235, 233, 214);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 120px 1fr 1fr 1fr 1fr;
}

h1{
    text-align: center;
    color:rgb(115, 5, 5);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    background-color: cornflowerblue;
    grid-row:1;
    grid-column: 1 / span 5;
    border:11px dotted purple
    
}
.collection{
   
    grid-column: 1 / span 2;
    grid-row: 2;
    text-align: center;
    padding:9px;
    /* border: 7px solid black; */
    background-color: aliceblue;
    
    
}

.collection p {
    text-align: center;
}

.updates{
 
    left:40%;
    padding: 90px;
    /* border: 10px solid cornflowerblue; */
    height:50%;
    
}





